<footer class="footer-sitemap">
    <div class="footer-img">
      <div>
        <img
          class="photo"
          src="images/footer/Dennis.jpg"
          alt="dennis photo"
          width="100"
          height="100"
        />
        <p>Hi, I am Dennis, please contact with me.</p>
      </div>

      <div><p>Keep in Touch With Me</p></div>
    </div>

    <div class="footer-container" id="contact">
      <ul>
        <li><a href="./" alt="Home Page">Home</a></li>
        <li><a href="./projects" alt="My Projects">Projects</a></li>
        <li><a href="./services" alt="Services Available">Services</a></li>
        <li><a href="./about_me" alt="About Me">About Me</a></li>
        <li><a href="./contact_me" alt="Contact Me">Contact Me</a></li>
      </ul>

      <ul>
        <li>
          <a href="mailto:gliu68@my.centennialcollege.ca" alt="Email Contact"
            >Get IN TOUCH:
          </a>
        </li>
        <li>Tel: 123-456-7890</li>
        <li>
          <a href="mailto:gliu68@my.centennialcollege.ca" alt="Email Contact"
            >Email</a
          >
        </li>
        <li>Address: 3480 Waterfront Boulevard, Toronto, ON</li>
      </ul>
    </div>
    <div class="copyright">
      <p>
        Copyright &copy; Gang Liu 301266410 | Web Application Development COMP229 - SEC. 403
        Fall 2023
      </p>
      <p>Assignment 1 - Express Personal Portfolio</p>
    </div>
  </footer>
</body>
</html>