<%- include("partials/header.ejs") %>

<!-- ------------------ Main Section --------------------->
<main>
  <section class="aboutme-more-details">
    <div class="aboutme-img-area">
      <img src="images/about_me/self_portrait.jpeg" alt="Picture of Self" />
    </div>
    <div class="aboutme-text-details">
      <p><span>About Me!</span></p>
      <p class="aboutme-p-text">
        Solution-driven web developer adept at contributing to highly
        collaborative work environment and finding solutions. proven experience
        developing consumer-focused websites using HTML, CSS, JavaScript,
        Node.js. Good for knowledge of the best practices for web design and
        development.<br><br>

        <span>My Skill Stack is: </span>

        <ul>
          <li>UX-focused Design</li>
          <li>HTML/CSS</li>
          <li>Vanila JavaScript</li>
          <li>Node.js/Express</li>
          <li>MongoDB</li>
          <li>React / Vue</li>
        </ul>

        <br>
        <ul>
          <li>Python</li>
          <li>Django/Flask</li>
          <li>Oracle MySQL/PostgreSQL</li>
        </ul>

      </p>

      <a href="/files/resume.pdf" download>Get My Resume</a>
    </div>
  </section>
</main>

<%- include("partials/footer.ejs") %>
