<!-- Add Header -->

<%- include("partials/header.ejs") %>

<!--------------  Main Section -------------->
<main>
  <section class="section-top">
    <div class="slogan">
      <div class="slogan-text-box">
        <h1 class="heading-primary">
          Innovate, Develop, Transform: Where Creativity Meets Code, We Design
          Dreams
        </h1>
        <p class="company-description">
          Hi, I am Gang Liu and I work as a web developer. I am a software
          engineer who loves to create websites as well as apps for people. I
          think that people should look at the bigger picture when they are
          building something. I love to work in groups where everyone can voice
          their opinions and ideas. In the end, I love to work towards one goal
          where in the end we all can contribute towards making a good website.
          In my free time, you can see me listening to songs and binge-watching
          series when I am not working with my clients.
        </p>
        <a href="./about" class="btn btn--full margin-right-sm"
          >More Details About Me</a
        >
        <a href="./projects" class="btn btn-explore">Explore Projects &rarr;</a>
        <div class="delivered-homes">
          <div class="delivered-imgs">
            <img src="images/home/small/1.png" alt="Customer 1" />
            <img src="images/home/small/2.jpg" alt="Customer 2" />
            <img src="images/home/small/3.png" alt="Customer 3" />
            <img src="images/home/small/4.jpeg" alt="Customer 4" />
            <img src="images/home/small/5.jpeg" alt="Customer 5" />
            <img src="images/home/small/6.png" alt="Customer 6" />
            <img src="images/home/small/7.jpeg" alt="Customer 7" />
          </div>
          <p class="delivered-text">
            <span>20+</span> newly designed websites and apps are delivered to
            customers in 2022!
          </p>
        </div>
      </div>
      <div class="slogan-img-box">
        <img
          src="images/home/main_logo.png"
          class="slogan-img"
          alt="Slogan image"
        />
      </div>
    </div>
  </section>

  <section class="section-featured">
    <div class="container">
      <h2 class="heading-featured-in">As featured in</h2>
      <div class="logos">
        <img src="images/home/features/home_space.png" alt="Home Space Logo" />
        <img
          src="images/home/features/joanny_rockets.png"
          alt="Joanny Rockets Logo"
        />
        <img src="images/home/features/pilot_code.png" alt="Pilot Code Logo" />
        <img src="images/home/features/wood_bully.png" alt="Wood Bully Logo" />
        <img src="images/home/features/sandra.png" alt="Sandra Logo" />
      </div>
    </div>
  </section>
</main>

<!-- Add Footer -->
<%- include("partials/footer.ejs") %>
