<%- include('partials/header.ejs') %>

<!-- ------------------ Main Section --------------------->
<section class="container all-services">
  <div class="services">
    <!-- property 1 -->
    <div class="individual-service">
      <img
        class="service-img"
        src="images/services/web_sample.jpeg"
        alt="Web Development"
      />
      <div class="service-data">
        <h3 class="service-name">Web Development</h3>
        <p class="service-info">
          From developing intuitive websites, web-based applications ,and
          content management systems to updating exisiting sites with extra
          backend features, I can offer a variety of website development
          services.
        </p>
      </div>
    </div>
    <!-- property 2 -->
    <div class="individual-service">
      <img
        class="service-img"
        src="images/services/ios_android.jpeg"
        alt="iOS & Android Mobile Development"
      />
      <div class="service-data">
        <h3 class="service-name">iOS & Android App Development</h3>
        <p class="service-info">
          I architect intuitive and compelling user experiences, leveraging the
          unique capabilities offered by handheld devices. We have created
          several award-winning original mobile apps.
        </p>
      </div>
    </div>
    <!-- property 3 -->
    <div class="individual-service">
      <img
        class="service-img"
        src="images/services/ai_development.jpeg"
        alt="Artificial Intelligence Development"
      />
      <div class="service-data">
        <h3 class="service-name">AI Development</h3>
        <p class="service-info">
          I can help you develop new AI applications or implement the latest AI
          techstack into existing ones.
        </p>
      </div>
    </div>
  </div>
</section>

<%- include('partials/footer.ejs') %>
